<div class="d-flex" id="wrapper" >
  <div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><b>Configurations</b></div>
      <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dataset<br>
                <select (change)="selectDataset($event.target.value)">
                    <option value="Stock Price">Stock Price</option>
                    <option value="20 News Groups">20 News Groups</option>
                </select>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">{{neuralNetType}} nodes
                    <br>
                    <select (change)="selecnnNodes($event.target.value)">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                    </select>
                  </a>      
        <a href="#" class="list-group-item list-group-item-action bg-light">Hidden Layers<br>
              <select  (change)="selecHiddenLayers($event.target.value);">
                    <option value=0>0</option>  
                    <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
              </select>
          </a>
          <a *ngIf="hidden1" href="#" class="list-group-item list-group-item-action bg-light">Hidden Layer1 Nodes<br>
            <select (change)="selecHidden1Nodes($event.target.value);">
                    <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
        </a>
        <a *ngIf="hidden2" href="#" class="list-group-item list-group-item-action bg-light">Hidden Layer2 Nodes<br>
            <select (change)="selecHidden2Nodes($event.target.value);"> 
                 <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
        </a>
        <a *ngIf="hidden3" href="#" class="list-group-item list-group-item-action bg-light">Hidden Layer3 Nodes<br>
            <select (change)="selecHidden3Nodes($event.target.value);">  
                 <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Output nodes<br>
            <select (change)="selectOutputNodes($event.target.value)">
                    <option *ngIf=" dataset == 'Stock Price'" value=1>1</option>
                    <option *ngIf=" dataset == '20 News Groups'" value=3>3</option>
            </select>
          </a>  
          <a href="#" class="list-group-item list-group-item-action bg-light">Neural Net Type<br>
            <select (change)="selectNNType($event.target.value)">>  
                    <option value="RNN">RNN</option>
                <option value="LSTM">LSTM</option>
            </select>
          </a>                    
          <a href="#" class="list-group-item list-group-item-action bg-light">Learning Rate<br>
              <select (change)="selecLearningRate($event.target.value)">
                  <option value=0.01>0.01</option>
                  <option value=0.001>0.001</option>
                  <option value=0.0001>0.0001</option>
                  <option value=0.05>0.05</option>
              </select>
          </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Hidden Layer Activations<br>
            <select (change)="selectActivation($event.target.value)">
                <option  value="tanh">Tanh</option>
                <option  value="relu">ReLU</option>               
            </select>
        </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Epoch<br>
              <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="100"
              min="2"
              max="10"
              (input)="selectEpoch($event)"></mat-slider>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Batch Size<br>
              <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="5"
              min="40"
              max="70"
              (input)="selectBatchSize($event)"></mat-slider>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Train/Test Ratio
            <br>  
            <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="10"
              min="10"
              max="90"
              (input)="selectTrainTestRatio($event)"></mat-slider>
          </a> 
          
      </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sub-menu">
        <button class="btn btn-secondary" id="menu-toggle">Toggle Menu</button>
        <button class="btn btn-secondary" style="margin-left:1%" id="menu-toggle" (click)="sendRNNData()">Execute</button>            
        
    </nav> 

    <div class="container page-content" style="padding-left:20%">
        <app-neuralcanvas ></app-neuralcanvas>
    </div>
    <div class="container page-content">
        <div  style="height:600px;width:600px;">
        <canvas id="lineChart"  ></canvas>
        </div>
    </div>
  </div>
<div class="bg-light border-left" id="sidebar-wrapper-right">
    <div class="sidebar-heading"><b>Output</b> </div>
    <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light"> Status:{{processingStatus}} 
                
                <div class="lds-ellipsis" *ngIf="progress"><div></div><div></div><div></div><div></div></div>            
                
                <br>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Problem Type:<br>
                <span *ngIf=" dataset == '20 News Groups'">Classification</span>
                <span *ngIf=" dataset == 'Stock Price'">Regression</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Problem Description:<br>
                <span *ngIf=" dataset == '20 News Groups'">Classifies news articles into
                    <br>
                    politics,sports and religion
                </span>
                <span *ngIf=" dataset == 'Stock Price'">Forecasts Stock  Price</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Metrics
              <div *ngIf=" dataset == '20 News Groups'">  
              <a href="#" class=" list-group-item-action bg-light">Accuracy: {{accuracy}}</a><br>
              <a href="#" class=" list-group-item-action bg-light">f1: {{f1}}</a><br>
              <a href="#" class=" list-group-item-action bg-light">Precision: {{precision}}</a><br>
              <a href="#" class=" list-group-item-action bg-light">Recall: {{recall}}</a><br>
              </div>
              <div *ngIf=" dataset == 'Stock Price'">  
                  <a href="#" class=" list-group-item-action bg-light">MAE: <br> {{MAE}}</a><br>
                  <a href="#" class=" list-group-item-action bg-light">RMSE: <br> {{RMSE}}</a><br>
                  <a href="#" class=" list-group-item-action bg-light">MAPE: <br>  {{MAPE}}</a><br>
                  <a href="#" class=" list-group-item-action bg-light">RMSPE: <br> {{RMSPE}}</a><br>
              </div>
            </a>                           
        </div>
</div>
