<div class="d-flex" id="wrapper" >
  <div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><b>Configurations</b></div>
      <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Hidden Layers<br>
              <select (change)="selecHiddenLayers($event.target.value);">
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
              </select>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Neural Net Type<br>
            <select (change)="selectNNType($event.target.value)">
                <option value="RNN">"RNN"</option>
                <option value="LSTM">"LSTM"</option>
            </select>
          </a>       
          <a href="#" class="list-group-item list-group-item-action bg-light">Learning Rate<br>
              <select (change)="selecLearningRate($event.target.value)">
                  <option value=0.01>0.01</option>
                  <option value=0.001>0.001</option>
                  <option value=0.0001>0.0001</option>
                  <option value=0.05>0.05</option>
              </select>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Dataset<br>
            <select (change)="selectDataset($event.target.value)">
                <option value="Stock Price">"Stock Price"</option>
                <option value="Enron">"Enron"</option>
            </select>
        </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Epoch<br>
              <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="100"
              min="10"
              max="500"
              (input)="selectEpoch($event)"></mat-slider>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Batch Size<br>
              <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="10"
              min="1"
              max="30"
              (input)="selectBatchSize($event)"></mat-slider>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Train/Test Ratio
            <br>  
            <mat-slider id="slider"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="10"
              min="10"
              max="90"
              (input)="selectTrainTestRatio($event)"></mat-slider>
          </a> 
          
      </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <button class="btn btn-primary" id="menu-toggle">Execute</button>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </nav> 
  </div>
  <div class="bg-light border-right" >
    <div class="sidebar-heading">Output </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light"><b>Problem Type:</b>
                <span *ngIf=" dataset == 'Enron'">Classification</span>
                <span *ngIf=" dataset == 'Stock Price'">Regression</span>
            </a>

            <a href="#" class="list-group-item list-group-item-action bg-light"><b>Training loss:</b></a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><b>Epoch:</b></a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><b>Metrics</b>
              <div *ngIf=" dataset == 'Enron'">  
              <a href="#" class=" list-group-item-action bg-light">Accuracy:</a><br>
              <a href="#" class=" list-group-item-action bg-light">f1:</a><br>
              <a href="#" class=" list-group-item-action bg-light">Precision:</a><br>
              <a href="#" class=" list-group-item-action bg-light">Recall:</a><br>
              </div>
              <div *ngIf=" dataset == 'Stock Price'">  
                  <a href="#" class=" list-group-item-action bg-light">MAE:</a><br>
                  <a href="#" class=" list-group-item-action bg-light">RMSE:</a><br>
                  <a href="#" class=" list-group-item-action bg-light">MAPE:</a><br>
                  <a href="#" class=" list-group-item-action bg-light">RMSPE:</a><br>
              </div>
            </a>
                           
        </div>


</div>