<div class="d-flex" id="wrapper" >
  <div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Configurations </div>
      <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Hidden Layers</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Learning Rate</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Epoch</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Batch Size</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Dataset</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Train/Test Ratio</a> 
          <a href="#" class="list-group-item list-group-item-action bg-light">Neural Net Type</a>     
                      
      </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <button class="btn btn-primary" id="menu-toggle">Execute</button>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </nav> 
  </div>
  <div class="bg-light border-right" >
    <div class="sidebar-heading">Output </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Problem Type:</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Training loss:</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Epoch:</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Accuracy:</a>
                           
        </div>
    </div>

</div>